.activeBlue {
    border-left: 6px solid var(--col-m-primary);
    list-style: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    height: 56px;
    cursor: pointer;
    padding: 16px;
}

.litag {
    list-style: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: var(--text-secondary);
    height: 56px;
    cursor: pointer;
    padding: 16px;
    background: var(--bg-level-3);
    border-left: 6px solid var(--bg-level-3);
}

.litagOut {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: var(--col-er-primary);
    height: 56px;
    cursor: pointer;
    padding: 16px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    border-left: 6px solid var(--bg-level-3);
    background: var(--bg-level-3);
    margin-top: 40px;
    display: block;
}

.dashBlock {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.dashBody {
    background: var(--bg-level-3);
    padding: 16px 0;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    min-width: 320px;
    height: 248px;
}

.flexBlock {
    display: flex;
    column-gap: 24px;
    margin: 24px 0;
}

.form {
    background: var(--bg-level-3);
    width: 100%;
    border-radius: 16px;
    padding: 40px 24px;
}

.textSet {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    color: var(--text-primary);
}

.formSet {
    display: flex;
    width: 100%;
    column-gap: 16px;
}

.profBlock {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.textPrem {
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    margin-top: 8px;
}

.mainTextPrem {
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: var(--text-secondary);
    margin-top: 16px;
}

.btn_prem {
    height: 40px;
    max-width: 232px;
    border: 1.5px solid rgba(227, 187, 75, 1);
    padding: 0 24px;
    border-radius: 8px;
    background: rgba(235, 207, 124, 1);
    display: flex;
    align-items: center;
    column-gap: 8px;
    color: rgba(91, 76, 34, 1);
    font-weight: 500;
    font-size: 16px;
    margin-top: 32px;
    cursor: pointer;
}

.template_password {
    width: 360px;
}

.template_password>h2 {
    margin-bottom: 16px;
}

.template_password>div:not(:last-child) {
    margin-bottom: 16px;
}

.btn_mt {
    margin-top: 24px;
}

.btnWidPass {
    width: 136px;
    margin-top: 24px;
}

.prem {
    margin-top: 40px;
}